@import 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
//Header//
#logo img{
    margin-left: 20px;
}


#menu a{
    font-size: $tamaño-fuente1;
    font-weight: bold;
    color: black;
    font-family: $fuente-principal;
}

.navbar-toggler-icon{
    color: $color-principal;
}


.nav-link{
    -webkit-transition: 1s linear;
    transition: 1s linear;

    &:hover{
        -webkit-transform: 1s linear;
        transform: scale(1.1);
    }
}
//FIN HEADER//

main{
    background-color:   rgb(165,152,186);
}


//CARROUSEL//
.carousel-inner{
    height: 600px;
}

.carousel-inner img{
    width: 100%;
    object-fit: cover;
}


.container-fluid{
    margin-left: 10px;
}

.card-img-top{
    width: 400px;
    height: 400px;
}


.img-fluid{
    width: 500px;
    height: 500px;
}

.card-title{
    font-size: $tamaño-fuente1;
    color:  rgb(165,152,186);
}

.text-center{
    font-family: $fuente-principal;
    color: $color-principal;
}



//FIN MAIN-GALERIA-PRODUCTO//

//FOOTER//
footer{
    display: flex;
    background-color:  rgb(165,152,186);
    height: 160px;
    justify-content: center;
    align-items: center;
    margin-top: 25px;

    ul{
        display: flex;
        list-style: none;
        gap: 5px;
        font-size: $tamaño-fuente1;
    }

    li a{
        text-decoration: none;
    }
} 

.redes{
    width: 28px;
    margin: 5px;
    margin-right: 12px;
}

.florita{
    font-size: 22px;
    margin-left: 15px;
}
//FIN FOOTER//



//FORMULARIO//

#container-fluid{
    background-color: $color-principal;
    width: 60%;
    margin: auto;
    padding: 18px;
}

//MEDIA QUERIES//
/*
@media (max-width: 577px){
    #galeria{
        display: grid;
        grid-template-columns: 1fr;
    }
} */

@media (max-width: 577px){
    #carouselExampleControls{
        display: none;
    }
}

@media (max-width: 576px){
    #carouselJuli{
        height: 300px;
        object-fit: none;
    }
}

@media (min-width:578px){
    #nosotros{
        display: none;
    }

}

@media (min-width: 577px){
    #carouselJuli{
        height: 450px;
    }
}

@media (max-width: 576px){
    #container-fluid{
        width: 90%;
    }
}

/*
@media (min-width: 577px){
    #galeria{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 992px){
    #galeria{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}
*/
